<section class="featured-categories" id="featuredCategories">

    <div class="featured-categories-inner">

        <!-- Tabs -->
        <nav class="featured-tabs mobile-tabs">
            <button class="tab active-99" data-key="teas">
                <p><sup>01</sup>Teas</p>
            </button>
            <button class="tab" data-key="beverages">
                <p><sup>02</sup>Beverages</p>
            </button>
            <button class="tab" data-key="spices">
                <p><sup>03</sup>Organic Spices</p>
            </button>
            <button class="tab" data-key="coconut">
                <p><sup>04</sup>Coconut Based</p>
            </button>
        </nav>

        <!-- Slide -->
        <div class="featured-slide">

            <!-- Image -->
            <div class="featured-image">
                <img id="featuredImage" src="" alt="">
            </div>

            <!-- Content -->
            <div class="featured-content active-99">
                <!-- Tabs -->
                <nav class="featured-tabs desktop-tabs">
                    <button class="tab active-99" data-key="teas">
                        <p><sup>01</sup>Teas</p>
                    </button>
                    <button class="tab" data-key="beverages">
                        <p><sup>02</sup>Beverages</p>
                    </button>
                    <button class="tab" data-key="spices">
                        <p><sup>03</sup>Organic Spices</p>
                    </button>
                    <button class="tab" data-key="coconut">
                        <p><sup>04</sup>Coconut Based</p>
                    </button>
                </nav>
                <div>
                    <div class="fghjk">
                        <sub class="featured-label" id="featuredEyebrow"></sub>
                        <h2 class="featured-title" id="featuredTitle"></h2>
                    </div>
                    <h2 class="featured-title2" id="featuredTitle2"></h2>
                </div>

                <p class="featured-description" id="featuredDescription"></p>

                <div class="featured-action">
                    <a href="#" class="featured-link" id="featuredLink">
                        View All Products
                    </a>
                </div>
            </div>

        </div>

    </div>
</section>