<div class="instagram-container">

  <div class="instagram-header">
    <div >
      <h2 class="h2">Our Instagram Feed</h2>
      <p class="p-s">@samley</p>
    </div>
    <p class="p-l">Follow us on Instagram</p>
  </div>

  <!-- Feed Wrapper -->
  <div class="instagram-feed-wrapper">
    <!-- Embedded Instagram Feed -->
    <iframe src="https://snapwidget.com/embed/your-widget-id" class="snapwidget-widget" allowtransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%; height:400px;"></iframe>
    <script src="https://snapwidget.com/js/snapwidget.js"></script>
  </div>


</div>