<div class="instagram-container">

  <div class="instagram-header">
    <div>
      <h2 class="h2">Our Instagram Feed</h2>
      <p class="p-s">
        <a class="instagram-view" href="https://www.instagram.com/samleyteas/" target="_blank" rel="noopener noreferrer">@samleyteas</a>
        </p>
    </div>
    <p class="p-l">Follow us on Instagram</p>
  </div>

  <!-- Feed Wrapper -->
  <div class="instagram-feed-wrapper">
    <!-- Embedded Instagram Feed (SnapWidget) -->

    <iframe src="https://snapwidget.com/embed/1117334" class="snapwidget-widget"
      allowtransparency="true" frameborder="0" title="Posts from Instagram" ></iframe>
    <script src="https://snapwidget.com/js/snapwidget.js"></script>

  </div>


</div>