<section class="reviews-section">
    <div class="reviews-section-div">
        <div class="reviews-header">
            <div>
                <h2>What Samley Teas<br>Drinkers Are Saying..</h2>
                <span class="subtitle">Testimonials</span>
            </div>

            <div class="google-rating">
                <img src="https://fonts.gstatic.com/s/i/productlogos/googleg/v6/24px.svg" alt="Google"
                    class="google-icon" />
                <div class="google-rating-text">
                    <div class="google-rating-top">
                        <div class="stars">★★★★★</div>
                        <p>5.0 Stars</p>
                    </div>
                    <small>Based on 176 user reviews</small>
                </div>
            </div>
        </div>

        <div class="reviews-wrapper">
            <div class="reviews-row row-left"></div>
            <div class="reviews-row row-right"></div>
        </div>
    </div>
</section>