    .reviews-section {
        width: 100%;
        display: flex;
        justify-content: center;
        overflow: hidden;
    }

    .reviews-section-div {
        padding: 30px 30px;
        width: 100%;
        max-width: 1440px;
    }

    .reviews-header {
        display: flex;
        flex-direction: column;
    }

    .reviews-header h2 {
        color: var(--color-text-secondary);
        font-size: var(--fs-h3);
        font-family: var(--font-heading);
        font-weight: 400;
        line-height: 1.3;
    }

    .subtitle {
        color: var(--color-text-black);
        font-size: var(--fs-p-m);
        font-family: var(--font-body);
        font-weight: 400;
        line-height: 1.2;
    }

    .reviews-wrapper {
        margin-top: 48px;
        margin-left: -100px;
        margin-right: -100px;
    }

    .google-rating {
        display: flex;
        align-items: center;
        gap: 5px;
        padding-top: 15px;
    }

    .google-rating-text {
        display: flex;
        flex-direction: column;
    }

    .google-rating-top {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 5px;
    }

    .google-rating-top p {
        color: var(--color-text-secondary);
        font-size: var(--fs-p-s);
        font-family: var(--font-body);
        font-weight: 400;
    }

    .google-rating-text small {
        color: var(--color-text-secondary);
        font-size: 10px;
        font-family: var(--font-body);
        font-weight: 400;
        line-height: 1.2;
    }

    .google-icon {
        width: auto;
        height: 35px;
    }

    .reviews-row {
        display: flex;
        gap: 24px;
        margin-bottom: 24px;
        overflow-x: auto;
        scroll-behavior: smooth;
    }

    .review-card {
        min-width: 320px;
        background: #fafafa;
        border-radius: 16px;
        padding: 24px;
        border: 1px solid rgb(225, 225, 225);
    }

    .review-card .quote {
        color: #00AE9C;
        font-size: 90px;
        margin-top: -30px;
        margin-bottom: -80px;
    }

    .review-card p {
        font-size: var(--fs-p-m);
        font-style: italic;
        line-height: 1.6;
        margin: 32px 0;
    }

    .review-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .review-footer div strong {
        font-size: var(--fs-p-m);
        font-weight: 500;
    }

    .review-footer div small {
        font-size: var(--fs-p-s);
        font-weight: 400;
    }

    .stars {
        color: rgb(247, 211, 9);
    }

    .reviews-row {
        scrollbar-width: none;
        /* Firefox */
        -ms-overflow-style: none;
        /* IE/Edge */
    }

    .reviews-row::-webkit-scrollbar {
        display: none;
        /* Chrome, Safari */
    }

    .reviews-row.row-right {
        display: none;
    }

    .reviews-row {
        overflow: hidden;
    }

    /* MOBILE */
    @media (min-width: 768px) {
        .reviews-section {
            width: 100%;
            display: flex;
            justify-content: center;
            overflow: hidden !important;
        }

        .reviews-section-div {
            padding: 0px 100px;
            max-width: 2500px;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
        }

        .reviews-header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: end;
            max-width: 1440px;
            width: 100%;
            padding: 100px
        }


        .reviews-row.row-right {
            display: flex;
        }

        .reviews-wrapper {
            margin-left: -100px;
            margin-right: -100px;
            overflow: hidden;
        }

        .reviews-row.row-left {
            margin-left: -100px;
            margin-right: -100px;
        }

        .reviews-row.row-right {
            margin-left: -250px;
            margin-right: -250px;
        }
    }